/* doft.css */
BODY {
	background-color: rgb(77, 77, 77);
}

.block1 {
	border-radius: 5px;
	box-shadow: 10px 5px 5px black;
	background-color: rgb(145, 145, 145);
	float: top; 
	height: auto; 
	width: 80%;
	margin-left: 10%;
	padding: -10%;
}

.block2 {
	border-radius: 5px;
	box-shadow: 10px 5px 5px black;
	background-color: rgb(145, 145, 145);
	height: auto; 
	width: 25%;
	padding: 17%;
	margin-left: 21%;
	margin-bottom: 70%;
	margin-right: 30%;
	margin-top: 1%;
}

.block3 {
	border-radius: 5px;
	box-shadow: 10px 5px 5px black;
	background-color: rgb(145, 145, 145);
	height: auto%; 
	width: 5%;
	padding: 1%;
	margin-left: 13%;
	margin-bottom: 0%;
	margin-right: 10%;
	margin-top: -104%;
}

.block4 {
	border-radius: 5px;
	box-shadow: 10px 5px 5px black;
	background-color: rgb(145, 145, 145);
	height: auto; 
	width: 5%;
	padding: 1%;
	margin-left: 81%;
	margin-top: -24%;
	margin-bottom: 20%;
}

.box {
	border-radius: 5px;
	box-shadow: 10px 5px 5px black;
	background-color: rgb(123, 234, 123);
	height: auto; 
	width: 35%;
	margin-left: 8%;
	margin-top: -15%;
	padding: 0%;
	position: absolute;
	z-index: 100;
}

.lo {
	display: inline-block;
}

#cent {
	display: inline-block; 
	width: 230%;
	margin-left: -65%;
	margin-top: -65%;
	margin-bottom: -65%;
}

.reload {
	width: 2%;
	float: right;
	margin-bottom: -70%;
	margin-right: 0.5%;
	margin-top: 0.5%;
}

.cros {
	width: 2%;
	float: bottom;
	margin-left: 97.5%;
	margin-bottom: 0.5%;
}
.glass {
	width:20%;
	margin-left: 48%; 
	margin-bottom: -38%;
}

.day {
	width: 30%;
	float: left;
}

.arrow {
	width: 70%;
	margin-left: 11%;
}
.main {
	width: 70%;
	margin-left: 11%;
}

.oeil {
	border: 3px solid red; 
	width: 70%;
	margin-top: 20%;
	margin-left: 11%;
}

.outil {
	width: 70%;
	margin-top: 40%;
	margin-left: 11%;
}

.chat {
	width: 70%;
	margin-top: 30%;
	margin-left: 11%;
}

.book {
	width: 70%;
	margin-top: 5%;
	margin-left: 25%;
}

.towel {
	width: 70%;
	margin-top: 50%;
	margin-left: 11%;
}

#bricks {
	margin-left: -10%;
	margin-right: -5%;
	display: block;
	background: url("./resources/brick.jpg");
	background-repeat: repeat;
	background-size: 30%;
}

.brick {
	display: block;
	margin-top: 30%;
	margin-bottom: 120%;
	width: 70%;
	visibility: hidden;
}

.bigger {
	font-size: 250%;
}

.redd {
	text-shadow: 10px 5px 5px red;

}

p {
	margin-bottom: 10%;
	margin-top: -1%;
	margin-left: 4%;
	font-family: Times New Roman;
}

#col {
	width: 80%;
}
